<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-4">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="searchInput" placeholder="Enter somethign to search">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-8">
      <button mat-stroked-button color="accent" class="col-2 m-3" (click)="searchRepos()">Search</button>
      <button mat-stroked-button color="warn" class="col-2 m-3" (click)="resetrepos()">Reset</button>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
        <span>Search Results</span>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-3" style="width: 100%">
        <ng-container matColumnDef="full_name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.full_name || "-"}} </td>
        </ng-container>

        <ng-container matColumnDef="language">
          <th mat-header-cell *matHeaderCellDef> Language </th>
          <td mat-cell *matCellDef="let element"> {{element.language || "-"}} </td>
        </ng-container>

        <ng-container matColumnDef="latest_tag">
          <th mat-header-cell *matHeaderCellDef> Latest Tag </th>
          <td mat-cell *matCellDef="let element"> {{element.latest_tag || "-"}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button>add</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="col-6">
        <span>Favourate Repos</span>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-3" style="width: 100%">
        <ng-container matColumnDef="full_name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.full_name || "-"}} </td>
        </ng-container>

        <ng-container matColumnDef="language">
          <th mat-header-cell *matHeaderCellDef> Language </th>
          <td mat-cell *matCellDef="let element"> {{element.language || "-"}} </td>
        </ng-container>

        <ng-container matColumnDef="latest_tag">
          <th mat-header-cell *matHeaderCellDef> Latest Tag </th>
          <td mat-cell *matCellDef="let element"> {{element.latest_tag || "-"}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button>Remove</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>