<h1 mat-dialog-title>Login with Personal Access Token</h1>
<div mat-dialog-content>
  <p>Enter your GitHub <a href="https://help.github.com/articles/creating-a-personal-access-token-for-the-command-line/" target="_blank">Personal Access Token</a> below..</p>
  <mat-form-field class="col-11">
      <input matInput  [(ngModel)]="data.token" placeholder="Enter Token Here" required/>
  </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data.token" cdkFocusInitial>Go</button>
</div>